[user]
    name = Hussain 'Sykez' Faisal
    email = hello@sykez.com

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = master

[color]
    ui = auto
[push]
	autoSetupRemote = true
